extends layout

block content
  if posts
   each post, i in posts
    .post
     h2
      a(href='/posts/show/#{post._id}')
       =post.title
     p.meta Posted in 
      a(href='/categories/show/#{post.category}') #{post.category} 
      on #{moment(post.date).format("MM-DD-YYYY")}
     !=truncateText(post.body,100)
     
